<div class="navigation-desktop">
    <div class="tablet or lower hidden">
        <div class="ui grid">
            <div class="eight wide column">
                <h1>
                    <a href="{{ 'index' | relative_url }}" style="text-decoration: none; color: black;">
                        Česká asociace ultimate
                    </a>
                </h1>
            </div>
            <div class="eight wide column" style="text-align: right; margin-top: 0.5em;">

                <a class="ui facebook button" target="_blank" href="https://www.facebook.com/czechultimate/">
                    <i class="facebook icon"></i>
                    Facebook
                </a>
                <a class="ui instagram button" target="_blank" href="https://www.instagram.com/czechultimate">
                    <i class="instagram icon"></i>
                    Instagram
                </a>
                <a class="ui youtube button" target="_blank"
                    href="https://www.youtube.com/channel/UCWbynNxpF2mYA9orHPlkDiA">
                    <i class="youtube icon"></i>
                    YouTube
                </a>

            </div>
        </div>

        <div class="ui large inverted menu">

            {% for item in site.data.navigation %}
            <a href="{{ item[1].link | relative_url }}" class="{% if page.group == item[0] %}active{% endif %} item">
                {{ item[1].name }}
            </a>
            {% endfor %}

            <div class="right menu">
                <a href="{{ 'faq' | relative_url }}" class="{% if page.url == '/faq' %}active{% endif %} item">
                    FAQ
                </a>
            </div>
        </div>
    </div>
</div>
