<div class="navigation-desktop">
    <div class="tablet or lower hidden">
        <div class="ui grid">
            <div class="eight wide column">
                <img class="ui image" src="{{ 'assets/img/logo/velke.png' | relative_url }}" style="position: relative; top: -2rem; max-height:8rem;">
            </div>
            <div class="eight wide column" style="text-align: right; margin-top: 0.5em;">
                <a class="ui button" target="_blank" href="https://www.instagram.com/caufrisbee">
                    <img class="ui mini image" src="{{ 'assets/img/logo/ig.png' | relative_url }}">
                </a>
                <a class="ui button" target="_blank"
                    href="https://www.youtube.com/channel/UCWbynNxpF2mYA9orHPlkDiA">
                    <img class="ui mini image" src="{{ 'assets/img/logo/youtube.png' | relative_url }}">
                </a>
                <a class="ui button" target="_blank" href="https://www.tiktok.com/tag/caufrisbee">
                    <img class="ui mini image" src="{{ 'assets/img/logo/tiktok.png' | relative_url }}">
                </a>
                <a class="ui button" target="_blank" href="https://www.facebook.com/caufrisbee/">
                    <img class="ui mini image" src="{{ 'assets/img/logo/facebook.png' | relative_url }}">
                </a>
            </div>
        </div>

        <div class="ui large inverted menu" style="margin-top: -2.2rem;background-color: #143c7d">

            {% for item in site.data.navigation %}

            {% if item[1].menu %}
            <div class="dropdown-navigation ui dropdown {% if page.group == item[0] %}dropdown-item--open{% endif %} item">
                {{ item[1].name }}
                <div class="menu">
                    {% for subitem in item[1].menu %}
                    <a href="{{ subitem.link | relative_url }}" class="{% if page.permalink == subitem.link %}active{% endif %} item">
                        {{ subitem.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <a href="{{ item[1].link | relative_url }}" class="{% if page.group == item[0] %}active{% endif %} item">
                {{ item[1].name }}
            </a>
            {% endif %}

            {% endfor %}

            <div class="right menu">
                <a target="_blank" href="https://www.caufrisbee.cz/" class="item">
                    <i class="external alternate icon"></i> Frisbee.cz
                </a>
                <a href="{{ 'faq' | relative_url }}" class="{% if page.url == '/faq' %}active{% endif %} item">
                    FAQ
                </a>
            </div>
        </div>
    </div>
</div>
