<div class="ui fluid vertical huge menu">
    {% for item in site.data.navigation[page.group].menu %}
    {% if item.submenu %}
    <div class="item">
        {{ item.name }}
        <div class="menu">
            {% for subitem in item.submenu %}
            <a href="{{ subitem.link | relative_url }}"
                class="{% if page.permalink == subitem.link %}active{% endif %} item">
                {{ subitem.name }}
            </a>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <a href="{{ item.link | relative_url }}" class="{% if page.permalink == item.link %}active{% endif %} item">
        {{ item.name }}
    </a>
    {% endif %}
    {% endfor %}
</div>
