<!-- https://css-tricks.com/couple-takes-sticky-footer/ -->
<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui inverted stackable grid">

            <div class="three column row">

                <div class="column tablet or lower hidden">
                    ČAUF | Česká asociace ultimate frisbee
                </div>
                <div class="center aligned column menu mobile only tablet only">
                    ČAUF | Česká asociace ultimate frisbee
                </div>
                <div class="center aligned column">
                    <div class="ui inverted horizontal divided link list">
                        <a class="item" href="{{ 'foto' | relative_url }}">
                            Foto
                        </a>
                        <a class="item" href="{{ 'podminky' | relative_url }}">
                            Pravidla a podmínky
                        </a>
                        <a class="item" href="{{ 'media' | relative_url }}">
                            Média
                        </a>
                        <a class="item" href="{{ 'kontakt' | relative_url }}">
                            Kontakt
                        </a>
                    </div>
                </div>
                <div class="right aligned column tablet or lower hidden">
                    info@frisbee.cz
                </div>
                <div class="center aligned column menu mobile only tablet only">
                    info@frisbee.cz
                </div>
            </div>
        </div>
    </div>
</div>
