---
layout: default
group: souteze
permalink: soutezni-rad
title: Soutěžní řád
---

<div class="ui stackable grid">
    <div class="row">
        <div class="four wide column">
            {% include subnavigation.html %}
        </div>
        <div class="eight wide column content-wrapper">
            {% capture my_include %}{% include content/{{ page.permalink }}.md %}{% endcapture %}
            {{ my_include | markdownify }}
        </div>
        <div class="four wide column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">
                        <i class="file outline icon"></i>
                        Ke stažení
                    </div>
                    <div class="description">
                        <div class="ui bulleted list">
                            <a class="item">Soutěžní řád</a>
                            <a class="item">Zákaz omamných látek</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
