.site-wrapper {
    margin-top: 3em;
    padding-bottom: 5em;
}

.navigation-desktop h1 {
    font-size: 3em;
    font-weight: normal;
}

.navigation-desktop .menu {
    margin-top: 3em;
}

.ui.stackable.cards {
    margin-top: 1.6em;
}

/* Odsazeni od navigace */
.ui.container .page-wrapper {
    margin-top: 2em;
}

/* Hlavni titulek je vzdy vetsi */
.page-title {
    font-size: 2.9em;
}

/* Pismo je prilis maly */
.content-wrapper p,
li {
    font-size: 1.15rem;
    line-height: 1.4285em;
}

/* Vsechny seznamy byly prilis odsunuty od okraje */
ul {
    padding-left: 25px;
}

.ui.items.article-list > .item > .content > .description {
    font-size: 1.15rem;
    line-height: 1.4285em;
}

.content-wrapper img {
    margin-top: 2em;
    margin-bottom: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.repre-sidebar .fb-page {
    margin-bottom: 1em;
}


/* sticky footer */
html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.site-wrapper {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

/* Aby v sidebaru byl neustal scrollbar, protoze pak se
   lze pohybovat v menu i horizontalne a to na mobilu neches */
.ui.sidebar {
    max-height: 100vh;
}

/* Aby se na mobilu titulek trochu natlacil doleva */
#mobile-title {
    padding-left: 2px;
}

/* Diky tomuhle polozky v sidebaru lip vypadaji */
.title.item {
    padding: 0.92857143em 1.14285714em !important;
}

/* Doporuceny cssko z dokumentace kvuli sidebaru a ios zarizenim */
html.ios {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
    height: initial !important;
}

/* Aktivni dropdown menu nebylo klikatelny */
.dropdown-item--open {
    background: rgba(255,255,255,.15) !important;
    color: #fff!important;
}
