---
layout: default
group: reprezentace
permalink: reprezentace
title: Reprezentace
image: assets/img/pages/reprezentace.jpg
---

<div class="ui stackable grid">
    <div class="row">
        <div class="four wide column">
            {% include subnavigation.html %}
        </div>
        <div class="eight wide column content-wrapper">
            <h1 class="page-title">
                {{ page.title }}
            </h1>
            {% if page.image %}
                <img class="ui image" src="{{ page.image | relative_url }}">
            {% endif %}
            {% capture my_include %}{% include content/{{ page.group }}/{{ page.permalink }}.md %}{% endcapture %}
            {{ my_include | markdownify }}
        </div>
        <div class="four wide column repre-sidebar">
            <h3>Mixed team</h3>
            <div class="fb-page" data-href="https://www.facebook.com/czechultimatemixed/"></div>
            <h3>Women team</h3>
            <div class="fb-page" data-href="https://www.facebook.com/CzechUltimateWomenMasters/"></div>
            <h3>Open team</h3>
            <div class="fb-page" data-href="https://www.facebook.com/repreOPEN/"></div>
        </div>
    </div>
</div>


<style>

</style>
