---
layout: default
group: reprezentace
permalink: reprezentace
title: Reprezentace
image: assets/img/pages/reprezentace.jpg
---

<div class="ui stackable grid">
    <div class="row">
        <div class="four wide column tablet or lower hidden">
            {% include navigation/subnavigation.html %}
        </div>
        <div class="eight wide column content-wrapper">
            <h1 class="page-title">
                {{ page.title }}
            </h1>
            {% if page.image %}
                <img class="ui image" src="{{ page.image | relative_url }}">
            {% endif %}
            {% capture my_include %}{% include content/{{ page.group }}/{{ page.permalink }}.md %}{% endcapture %}
            {{ my_include | markdownify }}
        </div>
        <div class="four wide column repre-sidebar">
            {% assign tag = 'reprezentace' %}
            {% include sidebar/posts_by_tag.html %}
            {% include sidebar/contact.html %}
            {% include sidebar/downloads.html %}
            {% include sidebar/links.html %}
        </div>
    </div>
</div>


<style>

</style>
