<!DOCTYPE html>
<html lang="cs">

<head>

    <!-- TODO: https://github.com/pirati-web/pirati.cz/blob/ac6a537069260f8c9c91ce7d98c73e20f9772ba2/_includes/head.html -->

    <!-- Standard Meta -->

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ČAU Frisbee | {{ page.title }}</title>
    <link rel="shortcut icon" href="{{ 'favicon.ico' | relative_url }}" type="image/x-icon" />
    <link rel="icon" href="{{ 'favicon.ico' | relative_url }}" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="{{ '/assets/fomantic/semantic.min.css' | relative_url }}" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/fomantic/semantic.min.js' | relative_url }}"></script>

    <link rel="stylesheet" href="{{ '/assets/css/responsive-semantic-ui.css' | relative_url }}" />

    <!-- Custom css -->
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}" />

    <!-- SEO -->
    {% seo title=false %}
</head>

<body>

    <!-- Facebook SDK (PageFeed, ShareButton, ...) -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v26.0"></script>

    {% include navigation/mobile.html %}

    <div class="pusher site-wrapper">
        <div class="ui container">
            {% include navigation/desktop.html %}
            <div class="page-wrapper">
                {{ content }}
            </div>
        </div>
    </div>

    {% include footer.html %}

    <!-- Custom js -->
    <script src="{{ '/assets/js/custom.js' | relative_url }}"></script>


</body>

</html>
