---
layout: default
---

<div class="ui stackable grid">
    <div class="four wide column tablet or lower hidden">
        {% include sidebar/jak_zacit.html %}
        {% include sidebar/terminovka.html %}
        {% include sidebar/verejna_slozka.html %}
        {% include sidebar/facebook_iframe.html %}
    </div>
    <div class="eight wide computer sixteen wide tablet column">
        {{ content }}
    </div>
    <div class="four wide computer eight wide tablet column mobile only tablet only">
        {% include sidebar/jak_zacit.html %}
        {% include sidebar/terminovka.html %}
        {% include sidebar/verejna_slozka.html %}
        {% include sidebar/facebook_iframe.html %}
    </div>
    <div class="four wide computer eight wide tablet column">
        {% include sidebar/asociace_hleda.html %}
        {% include sidebar/evidence.html %}
        {% include sidebar/partneri.html %}
    </div>
</div>
