---
layout: default
---

<div class="ui stackable grid">
    <div class="four wide column">
        {% include sidebar/jak_zacit.html %}
        {% include sidebar/terminovka.html %}
        {% include sidebar/facebook_iframe.html %}
    </div>
    <div class="eight wide column">
        {{ content }}
    </div>
    <div class="four wide column">
        {% include sidebar/asociace_hleda.html %}
        {% include sidebar/evidence.html %}
        {% include sidebar/partneri.html %}
    </div>
</div>
