---
layout: homepage
---

<div class="content-wrapper">

    <h1 style="margin-bottom: 0px;">{{ page.title }}</h1>

    <div class="ui horizontal list">
        <div class="item">
            <i class="calendar icon"></i>
            {{ page.date | date: "%d. %m. %Y" }}
        </div>
        <div class="item">
            <i class="user icon"></i>
            {{ page.author }}
        </div>
    </div>

    <img src="{{ page.img | relative_url }}" style="margin-bottom: 20px; margin-top: 10px;">

    {{ content }}
</div>
