---
layout: page
group: asociace
permalink: dokumenty
title: Dokumenty
image:
---

<h1 class="page-title">
    Dokumenty
</h1>

<div class="ui bulleted list">
    {% for link in site.data.documents.documents %}
    <li class="item">
        <a target="_blank" href="{{ link.link | relative_url }}">{{ link.text }}</a>
    </li>
    {% endfor %}
</div>



<h2>
    Seskupeno z webu
</h2>

<div class="ui bulleted list">

    {% for page in site.data.documents.pages %}
    {% for link in page[1] %}

    <li class="item">
        <a target="_blank" href="{{ link.link | relative_url }}">{{ link.text }}</a> [{{ page[0] }}]
    </li>

    {% endfor %}
    {% endfor %}

</div>
