---
layout: default
group: asociace
permalink: sin-slavy
title: Výkonná rada
---

<div class="ui stackable grid">
    <div class="row">
        <div class="four wide column tablet or lower hidden">
            {% include navigation/subnavigation.html %}
        </div>
        <div class="eight wide column">
            <h1 class="page-title">
                Síň slávy
            </h1>

            <div class="ui items">
                {% for member in site.data.data.sin-slavy %}
                <div class="item">
                    <div class="image">
                        <img src="{{ member.img | relative_url }}">
                    </div>
                    <div class="content">
                        <a class="header">{{ member.name }}</a>
                        <div class="meta">
                            <span>{{ member.year }}</span>
                        </div>
                        <div class="description">
                            <p>{{ member.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="four wide column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">
                        Galavečer
                    </div>
                    <div class="description">
                        Pár slov o galavečeru...
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
