---
layout: default
group: asociace
permalink: sin-slavy
title: Síň slávy
---

<div class="ui stackable grid">
    <div class="row">
        <div class="four wide column tablet or lower hidden">
            {% include navigation/subnavigation.html %}
        </div>
        <div class="eight wide column content-wrapper">
            <h1 class="page-title">
                Síň slávy
            </h1>

            <div class="ui items relaxed divided">
                {% for member in site.data.data.sin-slavy %}
                <div class="item">
                    <div class="image">
                        <img src="{{ member.img | relative_url }}" style="margin-top: 0px; margin-bottom: 0px;">
                    </div>
                    <div class="content">
                        <a class="header">{{ member.name }}</a>
                        <div class="meta">
                            <span>{{ member.year }}</span>
                        </div>
                        <div class="description">
                            <p>{{ member.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="four wide column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">
                        Galavečer
                    </div>
                    <div class="description">
                        Každoročně na podzim se koná slavnostní Galavečer, na kterém probíhá předávání cen
                        za&nbsp;uplynulou sezónu. Kromě ocenění těch nejlepších z&nbsp;nás, hráčů, kteří jsou svým
                        nasazením a&nbsp;chováním vzorem pro ostatní, bývají oceněni i&nbsp;organizátoři turnajů,
                        trenéři nebo týmy. Nechybí ani Cena Vojtěcha Prušáka, což je náš ekvivalent filmové Zlaté
                        maliny.
                    </div>
                </div>
            </div>
            {% include sidebar/links.html %}
        </div>
    </div>
</div>
