---
layout: basic_page
group: asociace
permalink: vize
title: Vize
---

<div class="ui stackable grid">
    <div class="row">
        <div class="four wide column">
            {% include subnavigation.html %}
        </div>
        <div class="eight wide column content-wrapper">
            {% capture my_include %}{% include content/{{ page.group }}/{{ page.permalink }}.md %}{% endcapture %}
            {{ my_include | markdownify }}
        </div>
        <div class="four wide column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">
                        <i class="file outline icon"></i>
                        Ke stažení
                    </div>
                    <div class="description">
                        <div class="ui bulleted list">
                            <a class="item">Vize 2016-2020</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
