<div class="ui fluid card" style="background-color: lightyellow;">
    <div class="content">
        <div class="header">
            <i class="exclamation circle icon"></i>
            Asociace hledá
        </div>
        <div class="meta">
            Chceš pomáhat komunitě frisbee?
        </div>
        <div class="description">
            <div class="ui list">
                {% for item in site.data.offers %}
                <div class="item">
                    {% if item.link %}
                    <a class="header" href="{{ item.link | relative_url }}" target="_blank">
                        {{ item.title }}
                    </a>
                    {% else %}
                    <div class="header">
                        {{ item.title }}
                    </div>
                    {% endif %}
                    {{ item.description }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
