<div class="ui fluid card" style="background-color: #F2F2F2;">
    <div class="content">
        <div class="header">
            <i class="envelope icon"></i>
            Newsletter
        </div>
        <div class="description">
            Pokud patříš k&nbsp;bývalým hráčům, nebo hraješ už jenom příležitostně,
            odebírej náš newsletter a zůstaň s&nbsp;námi v&nbsp;kontaktu. Budeme tě
            informovat o&nbsp;tom co se děje, o&nbsp;akcích, které budou pro tebe
            nebo by tě mohli zajímat. Newsletter posíláme většinou tak jednou
            za&nbsp;dva měsíce.
        </div>
    </div>
    <a class="ui bottom attached button" href="https://cauf.ecomailapp.cz/public/form/3-b6fcc542fb021c84fdaff536dd0a74a1" target="_blank">
        Neváhej a přihlaš&nbsp;se!
    </a>
</div>
