<div class="ui fluid card" style="background-color: #F2F2F2;">
    <div class="content">
        <div class="header">
            <i class="envelope icon"></i>
            Newsletter
        </div>
        <div class="description">
            Chceš být párkrát do&nbsp;roka informován o&nbsp;tom, co se děje v&nbsp;asociaci?
        </div>
    </div>
    <a class="ui bottom attached button" href="https://cauf.ecomailapp.cz/public/form/3-b6fcc542fb021c84fdaff536dd0a74a1" target="_blank">
        Neváhej a přihlaš&nbsp;se!
    </a>
</div>
