<div class="ui fluid card" style="background-color: #F2F2F2;">
    <div class="content">
        <div class="header">Partneři</div>
        <div class="ui middle aligned grid" style="margin-top: 0.3em;">
            <div class="sixteen wide center aligned column">
                <a href="https://cald.cz" target="_blank">
                    <img class="ui small image" src="{{ '/assets/img/partneri/cald_logo.png' | relative_url }}">
                </a>
            </div>
            <div class="sixteen wide cenvter aligned column">
                <a href="https://ultimo.cz" target="_blank">
                    <img class="ui small image" src="{{ '/assets/img/partneri/ultimo_logo.png' | relative_url }}">
                </a>
            </div>
            <div class="sixteen wide center aligned column">
                <a href="https://burik.cz" target="_blank">
                    <img class="ui image" src="{{ '/assets/img/partneri/burik_logo.png' | relative_url }}">
                </a>
            </div>
            <div class="sixteen wide center aligned column">
                <a href="https://olympic.cz" target="_blank">
                    <img class="ui image" src="{{ '/assets/img/partneri/olympic_logo.png' | relative_url }}">
                </a>
            </div>
            <div class="sixteen wide center aligned column">
                <a href="https://www.praha.eu/" target="_blank">
                    <img class="ui image" src="{{ '/assets/img/partneri/praha_logo.png' | relative_url }}">
                </a>
            </div>
            <div class="sixteen wide center aligned column">
                <a href="https://www.techsoup.cz" target="_blank">
                    <img class="ui small image" src="https://www.techsoup.cz/sites/default/files/TechSoup_248_60.png">
                </a>
            </div>
        </div>
    </div>
</div>
