<div class="ui fluid card" style="background-color: #F2F2F2;">
    <div class="content">
        <div class="header">Partneři</div>
        <div class="ui middle aligned grid" style="margin-top: 0.3em;">
            <div class="sixteen wide center aligned column">
                <a href="https://cald.cz" target="_blank">
                    <img class="ui small image" src="{{ '/assets/img/partneri/cald_logo.png' | relative_url }}">
                </a>
            </div>
            <div class="sixteen wide center aligned column">
                <a href="https://agenturasport.cz" target="_blank">
                    <img class="ui image" src="{{ '/assets/img/partneri/nsa.png' | relative_url }}">
                </a>
            </div>
            <div class="sixteen wide center aligned column">
                <a href="https://unicornuniversity.net" target="_blank">
                    <img class="ui small image" src="{{ '/assets/img/partneri/unicorn.png' | relative_url }}">
                </a>
            </div>
            <div class="sixteen wide center aligned column">
                <a href="https://agenturasport.cz" target="_blank">
                    <img class="ui image" style="padding-left: 8px; padding-right: 8px;" src="{{ '/assets/img/partneri/eurodisc.png' | relative_url }}">
                </a>
            </div>
            <div class="sixteen wide center aligned column">
                <a href="https://ultimo.cz" target="_blank">
                    <img class="ui small image" src="{{ '/assets/img/partneri/ultimo_logo.png' | relative_url }}">
                </a>
            </div>
            <div class="sixteen wide center aligned column">
                <a href="https://www.cuscz.cz" target="_blank">
                    <img class="ui small image" src="{{ '/assets/img/partneri/cus_logo.png' | relative_url }}">
                </a>
            </div>
            <div class="sixteen wide center aligned column">
                <a href="https://olympic.cz" target="_blank">
                    <img class="ui image" src="{{ '/assets/img/partneri/olympic_logo.png' | relative_url }}">
                </a>
            </div>
        </div>
    </div>
</div>
